@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');

:root {
    --lightRedCTAtext: hsl(356, 100%, 66%);
    --veryLightRedhover: hsl(355, 100%, 74%);
    --veryDarkBlue: hsl(208, 49%, 24%);
    --grayishBlueFooter: hsl(240, 2%, 79%);
    --veryDarkGrayishBlue: hsl(207, 13%, 34%);
    --veryDarkBlackBlue: hsl(240, 10%, 16%);
    --stdSpacing: 1rem;
    --largeSpacing: 2rem; 
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, h2, h3, h4, h5, h6 {
    font-size: 16px;
    font-family: 'Overpass', sans-serif;
    line-height: 1.8rem;
}

h1 {
    font-family: 'Ubuntu', sans-serif;
}

/* header */
header {
    background: url(../images/bg-pattern-intro-mobile.svg), linear-gradient(hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    background-position: center;
    background-repeat: no-repeat;
    background-size: fill;
    height: 80vh;
    border-bottom-left-radius: 100px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:var(--largeSpacing);
    margin-bottom: 3rem; 
    padding-top: 4rem;
}

.burgerMenu img {
    margin-left: 10rem;
}

.headerText {
    color: white; 
    text-align: center;
}

header a {
    text-decoration: none;
    text-align: center;
}

.headerText h1 {
    font-weight: 400;
    line-height: 2.7rem;
    margin-bottom: var(--stdSpacing);
}

.headerText p {
    margin: 0rem 3rem;
}

.btnContainer, .btnContainerNav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--stdSpacing); 
    margin-top: var(--stdSpacing);
    font-size: 12px;
    margin-top: 3rem;
}

.btnContainerNav {
    margin-top: 0;
}

.startFreeBtn {
    background-color: white;
    color: var(--lightRedCTAtext);
    font-weight: 600;
    padding: .3rem 1.5rem;
    border-radius: 20px;
    border: 1px solid white;
    flex-basis: 100%;
    transition: .3s ease-in-out;
}

.startFreeBtn:hover {
    background-color:var(--veryLightRedhover);
    color: white;
    border: 1px solid var(--veryLightRedhover);
}

.learnBtn {
    background-color: var(--lightRedCTAtext);
    color: white;
    font-weight: 600;
    padding: .3rem 1.5rem;
    border-radius: 20px;
    border: 1px solid white;
    flex-basis: 100%;
    transition: .3s ease-in-out;
}

.learnBtn:hover {
    background-color: white;
    color: var(--lightRedCTAtext);
    font-weight: 600;
}

.loginBtn {
    background-color: var(--lightRedCTAtext);
    color: white;
    font-weight: 600;
    padding: .3rem 1.5rem;
    border-radius: 20px;
    border: 1px solid white;
    flex-basis: 100%;
    transition: .3s ease-in-out;
}

.loginBtn:hover {
    background-color: white;
    color: var(--lightRedCTAtext);
    font-weight: 600;
}

.signUpBtn {
    background-color: white;
    color: var(--lightRedCTAtext);
    font-weight: 600;
    padding: .3rem 1.5rem;
    border-radius: 20px;
    border: 1px solid white;
    flex-basis: 100%;
    transition: .3s ease-in-out;
}

.signUpBtn:hover {
    background-color:var(--veryLightRedhover);
    color: white;
    border: 1px solid var(--veryLightRedhover);
}



/* main styling */

.mainText{
    max-width: 370px;
    margin: 0 auto;
    text-wrap: balance;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
    text-wrap: balance;
}

.mainText h2 {
    font-size: 1.5rem;
    color: var(--veryDarkBlue); 
    margin: 1rem 3rem;
}

.future {
    font-size: 1.5rem;
    margin-bottom: 4rem;
    color: var(--veryDarkBlue);
    margin-left: 0;
    margin-right: 0;
}

.mainText p {
    color: var(--veryDarkGrayishBlue);
    margin-bottom: var(--largeSpacing);
}

.mainText img {
    margin-top: 1rem;
    height: 32vh;
}

.phonesImg {
    position: relative;
    height: 5vh;
}

.phonesImg img {
    height: 40vh;
    position: absolute;
    left: 6%;
    top: 80%;
    z-index: 1;
}

.stateOfArtContainer {
    background: linear-gradient(hsl(237, 17%, 21%), hsl(237, 23%, 32%));
    color: white;
    border-bottom-left-radius: 100px;
    border-top-right-radius: 100px;
    height: 90vh;
    margin-top: 10rem;
    position: relative;
}

.stateText {
    text-align: center;
    margin: 2rem 3rem;
    position: absolute;
    top: 20%;
    background: url(../images/bg-pattern-circles.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.stateText h2 {
    margin-top: 5rem;
    margin-bottom: 1rem;
    font-size: 2.6rem;
    line-height: 50px
}

.stateText p {
    margin: 0rem 1rem;
}

/* Footer styling */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: hsl(240, 10%, 16%);
    border-top-right-radius: 100px;
    padding: 4rem 0rem;
    padding-bottom: 6rem;
    text-align: center;
}

footer img {
    padding: 2rem; 
}

footer ul {
    margin-bottom: 1.3rem;
}

footer a {
    text-decoration: none;
    list-style-type: none;
    color: white;
    transition: .3 ease-in-out;
}

footer a:hover {
    text-decoration: underline;
}

footer h2 {
    color: white;
    margin-bottom: .5rem;
    font-size: 1.2rem;
}

@media (min-width: 620px) {
    .desktopNav {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 2rem;
        margin-right: 25rem;
        list-style-type: none;
    }

    .desktopNav a {
        text-decoration: none;
        color: white;
        transition: .3s ease-in-out;
    }

    .desktopNav a:hover {
        text-decoration: underline;
    }

    .desktopNav img {
        margin-left: .5rem;
    }

    .burgerMenu {
        display: none;
    }

    .loginBtn, .signUpBtn {
        display: inline-block;
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Light red (CTA text): hsl(356, 100%, 66%)
- Very light red (CTA hover background): hsl(355, 100%, 74%)
- Very dark blue (headings): hsl(208, 49%, 24%)

### Neutral

- White (text): hsl(0, 0%, 100%)
- Grayish blue (footer text): hsl(240, 2%, 79%)
- Very dark grayish blue (body copy): hsl(207, 13%, 34%)
- Very dark black blue (footer background): hsl(240, 10%, 16%)

### Gradient

Background gradient - Intro/CTA mobile nav:

- Very light red: hsl(13, 100%, 72%)
- Light red: hsl(353, 100%, 62%)

Background gradient - body:

- Very dark gray blue: hsl(237, 17%, 21%)
- Very dark desaturated blue: hsl(237, 23%, 32%)

## Typography

### Body Copy

- Font size: 16px

### Fonts

- Family: [Overpass](https://fonts.google.com/specimen/Overpass?preview.text_type=custom)
- Weights: 300, 600

- Family: [Ubuntu](https://fonts.google.com/specimen/Ubuntu?preview.text_type=custom)
- Weights: 400, 500, 700 */
